body {
    margin: 0;
    padding: 0;
    max-width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logos {
    height: 64px;
    margin: 6px 2px 6px 2px;
}
#video {
    height: 315px;
    clear: both;
    background: url(../images/back.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#languages {
    float: left;
    width: 58px;
    height: 92px;
    text-align: center;
    font-weight: bold;
}
#footer {
    clear: both;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 28px;
}
h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
div {
    margin: 0;
    padding: 0;
}
#name {
    margin-top: 3px;
    float: right;
}
.language {
    cursor: pointer;
}
iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;
}
#head {
    float: left;
    background: green;
    width: 550px;
    height: 92px;
}
.block {
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 248px;
    height: 440px;
    border: 1px solid;
    overflow: hidden;
}
.image {
    width: 205px;
    height: 296px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.block h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: white;
}
html {
    margin: 0;
    padding: 0;
    min-width: 750px;
    background: #c9478a;
}
.parent {
    width: 100%;
}
.child {
    width: 300px;
    height: 50px;
    float: left;
    background: lime;
}
ul {
    color: black;
}
li {
    cursor: pointer;
    color: red;
}
#text {
    float: left;
    width: 600px;
    height: 92px;
    text-align: center;
    vertical-align: middle;
}
#sfc {
    float: left;
    width: 92px;
    height: 92px;
}
#company {
    position: relative;
    top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
#portal {
    position: relative;
    color: white;
    top: 25px;
}
img {
    vertical-align: middle;
}
h3,
p,
span {
    margin: 0;
    padding: 0;
    color: black;
}
#header {
    margin-top: 10px;

}
#social {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 5px;
}
.data {
    height: 82px;
    margin: 10px 10px 0px 10px;
    text-align: justify;
    overflow: hidden;
    color: black;
}
#more {
    margin-left: 10px;
    font-weight: bold;
}
.left {
    float: left;
}
.more {
    margin-left: 10px;
    margin-top: 5px;
    color: white;
}
.mtext {
    float: left;
    width: 710px;
}
.mimage {
    float: left;
}
a:link,
a:visited {
    color: #4d004d;
    text-decoration: none;
    cursor: pointer;
}
a:link:active,
a:visited:active {
    color: #4d004d;
}
.mtext a:link,
.mtext a:visited {
    color: #4d004d;
    text-decoration: underline;
    cursor: pointer;
}
.mtext a:link:active,
.mtext a:visited:active {
    color: #4d004d;
}
.mtext img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}