body {
    margin: 0;
    padding: 0;
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logos {
    height: 64px;
    margin: 6px 2px 6px 2px;
}
#video {
    height: 315px;
    clear: both;
}
#languages {
    float: left;
    width: 58px;
    height: 92px;
    text-align: center;
    font-weight: bold;
}
#footer {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 28px;
}
h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
}
div {
    margin: 0;
    padding: 0;
}
#name {
    margin-top: 3px;
    float: right;
}
.language {
    color: red;
    cursor: pointer;
}
iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 0;
}
#head {
    float: left;
    background: green;
    width: 550px;
    height: 92px;
}
.block {
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 248px;
    height: 440px;
    border: 1px solid;
    overflow: hidden;
    cursor: pointer;
}
.image {
    width: 205px;
    height: 296px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
h3 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}
html {
    margin: 0;
    padding: 0;
    min-width: 750px;
    background: grey;
}
.parent {
    width: 100%;
}
.child {
    width: 300px;
    height: 50px;
    float: left;
    background: lime;
}
ul {
    color: white;
}
li {
    cursor: pointer;
    color: red;
}
#text {
    float: left;
    width: 600px;
    height: 92px;
    text-align: center;
    vertical-align: middle;
}
#sfc {
    float: left;
    width: 92px;
    height: 92px;
}
#company {
    position: relative;
    top: 20px;
    font-size: 30px;
    font-weight: bold;
}
#portal {
    position: relative;
    top: 25px;
}
img {
    vertical-align: middle;
}
h3,
p,
span {
    margin: 0;
    padding: 0;
    color: white;
}
#header {
    margin-top: 10px;
}
#social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.data {
    height: 82px;
    margin: 10px 10px 0px 10px;
    text-align: justify;
    overflow: hidden;
    color: white;
}
#more {
    margin-left: 10px;
    font-weight: bold;
}
.left {
    float: left;
}
.more {
    margin-left: 10px;
    margin-top: 5px;
}